@{
    var version = new System.Reflection.AssemblyName(typeof(Tomelt.ContentManagement.ContentItem).Assembly.FullName).Version.ToString();
}
<div id="Tomelt-version">@T("Tomelt v.{0}", version)</div>