@model Tomelt.Core.Common.Settings.BodyPartSettings
<div class="col-xs-12">
    <div class="form-group">
        @Html.EditorFor(m => m.FlavorDefault)
        @Html.ValidationMessageFor(m => m.FlavorDefault)
    </div>
    
    
</div>