body {
    font-family: Tahoma,Verdana,微软雅黑,黑体;
    font-size: 12px;
    margin: 0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.word-info{
    padding:0 0 12px 0;
}
.word-tip{
    display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
/*#header {
    background: #2984a4;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
}

#branding {
    background: url(images/tomeltlogo.png) no-repeat;
    display: block;
    height: 60px;
    margin: 0 0 0 20px;
}


    #branding h1 {
        font-size: 208%;
        color:#fff;
        padding:10px 0 0 40px; margin-top: 0;
    }*/

.footer {
    text-align: center;
    color: #15428B;
    margin: 0px;
    padding: 0px;
    line-height: 23px;
    font-weight: bold;
}

.f15 {
    font-size: 15px;
}
.mt05 {
    margin-top: 0.5em;
}
.umar-l {
    margin-left: 0.5em;
}
fieldset {
    padding: .3em .35em .3em;
    margin: 5px 2px;
    border: 1px solid #95B8E7;
}
legend {
    padding: .5em;
    border: 0;
    width: auto;
}

.validation-summary-errors {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.description {
    color: #999
}
.message-Information {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.m-left {
    margin-left: 20px;
}

.ul-point {
    list-style: none;
}