@model dynamic
@{ Layout.Title = T("后台管理").ToString(); }

<h1 class="text-center">欢迎使用至融CMS内容管理系统</h1>
<hr/>

<div class="col-xs-12 col-md-3">
    <div class="thumbnail">
        <img src="@Url.Content("~/Themes/TheAdmin/Content/Images/tomelt_ad1.jpg")"/>
        <div class="caption">
            <h3>内容为王解决方案</h3>
            <p>一片空白？缺乏内容的网站，将没有流量、没有排名、没有用户！您的网站需要大量的新鲜的优质的内容以吸引各种用户。这些内容可以来源于合作媒体，也可来源于论坛热贴，博客曝料，微博言论等。这一切，只需找至融软件即可解决！</p>
                
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-3">
    <div class="thumbnail">
        <img src="@Url.Content("~/Themes/TheAdmin/Content/Images/tomelt_mp.jpg")"/>
        <div class="caption">
            <h3>关注我们</h3>
            <p>至融软件是业界领先的互联网与云服务提供商。我们围绕客户的需求持续创新，与合作伙伴开放合作，在互联网络、终端和云计算等领域构筑了端到端的解决方案优势。我们致力于为政府、企业和消费者等提供有竞争力的综合解决方案和服务，持续提升客户体验，为客户创造最大价值。</p>

        </div>
    </div>
</div>