<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Tomelt.Framework">
    <components>
      <component instance-scope="single-instance" type="Tomelt.Localization.Services.CultureDateTimeFormatProvider, Tomelt.Framework" service="Tomelt.Localization.Services.IDateTimeFormatProvider"></component>
      <component instance-scope="single-instance" type="Tomelt.Environment.ApplicationEnvironment, Tomelt.Framework" service="Tomelt.Environment.IApplicationEnvironment, Tomelt.Framework"></component>
    </components>
  </autofac>

</configuration>
