@using Tomelt.Utility.Extensions;
@{
    Script.Include("tabs.js").AtFoot();

}
<div class="easyui-accordion" data-options="fit:true,border:false">
    @foreach (var firstLevelMenuItem in Model)
    {
        IEnumerable<dynamic> secondLevelMenuItems = firstLevelMenuItem;

        <div title="@firstLevelMenuItem.Text.Text" data-options="iconCls:'icon-menu'" style="overflow: auto; padding: 5px;">
            <ul class="easyui-tree menutree">
                @if (secondLevelMenuItems.Count(menuItem => !menuItem.LocalNav) > 1 || !firstLevelMenuItem.LinkToFirstChild)
                {
                    foreach (var secondLevelMenuItem in secondLevelMenuItems.Where(menuItem => !menuItem.LocalNav))
                    {
                        
                        <li data-options="iconCls:'icon-page'">
                            <span>
                                <span class="treenode" id="@secondLevelMenuItem.Text.Scope" rel="@secondLevelMenuItem.Href">@secondLevelMenuItem.Text.Text</span>
                            </span>
                        </li>
                    }
                }
                
            </ul>
        </div>

    }
</div>
<div id="mm" class="easyui-menu" style="width: 150px;">
    <div id="mm-reload">刷新</div>
    <div class="menu-sep"></div>
    <div id="mm-tabclose">关闭</div>
    <div id="mm-tabcloseall">全部关闭</div>
    <div id="mm-tabcloseother">除此之外全部关闭</div>
    <div class="menu-sep"></div>
    <div id="mm-tabcloseright">当前页右侧全部关闭</div>
    <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
    <div class="menu-sep"></div>
    <div id="mm-exit">退出</div>
</div>

@using (Script.Head())
{
    <style>
        .menutree li {
            margin-top: 8px;
        }
    </style>


}