@model Tomelt.Core.Common.DateEditor.DateEditorViewModel
<div class="col-xs-12">
    <div class="form-group">
        <label for="@Html.FieldIdFor(m => Model.Editor.Date)">@T("发布于")</label>
        @Html.EditorFor(m => Model.Editor)
    </div>
</div>

